body{
    background-color: blue;
}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

}
.input, .output{
    padding: 20px;
}
.input-text{
    width: 200%;
    height: 400px;
    padding:10px;
    border: 1px solid black;
    resize: none;
    background-color: blue;
    font-size: 15px;
}
.output h3{
    margin-left: 250px;
}
.output-text{
    margin-left: 75%;
    width:200%;
    height: 400px;
    padding: 10px;

    resize:none;
    background-color: rgb(61, 58, 58);
    color: white;
}
